torch==2.8.0
torchaudio==2.8.0
piper-tts==1.3.0
numpy<2.0.0
opencv-python-headless
scikit-learn==1.6.1
tqdm
silero-vad
tokenizers
datetime
soundfile
huggingface-hub
piper-tts
websocket-server
https://synaptics-synap.github.io/examples-prebuilts/packages/llama_cpp_python-0.3.14-cp310-cp310-linux_aarch64.whl
synap-python
synap-rt @ https://github.com/synaptics-synap/synap-rt/releases/download/v0.0.2-preview/synap_rt-0.0.2-py3-none-any.whl
onnxruntime>=1.20.0,<1.21.0
requests